{
  "name": "signalk-onaplotter",
  "version": "__VERSION__",
  "description": "OnaPlotter: Blazor WASM chartplotter webapp for SignalK",
  "main": "index.js",
  "keywords": [
    "signalk-webapp",
    "signalk-node-server-plugin",
    "signalk-category-instruments"
  ],
  "signalk-plugin-enabled-by-default": true,
  "license": "MIT",
  "signalk": {
    "appIcon": "favicon.svg",
    "displayName": "OnaPlotter"
  }
}
